.normal {
    background-color: #b9bb8a;
}
.grass {
    background-color: #46d1b1;
}
.fire {
    background-color: #f5b35c;
}
.water {
    background-color: #7ea0f0;
}
.electric {
    background-color: #f5de84;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #d8bd72;
}
.flying {
    background-color: #ab95eb;
}
.poison {
    background-color: #a066a0;
}
.fighting {
    background-color: #d84942;
}
.psychic {
    background-color: #f780a4;
}
.dark {
    background-color: #b48b70;
}
.rock {
    background-color: #cfb84e;
}
.bug {
    background-color: #a5af47;
}
.ghost {
    background-color: #927abe;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #e962ee;
}
.fairy {
    background-color: #f9aec7;
}